*{
  box-sizing: border-box;
  margin:0;
  padding:10px;
  }
body{background:#f1f1f1;}
  h1{text-align:center; color:linear-gradient(to right, #2980b9, #6dd5fa, #ffffff); display:flex;}

.ib {width:100%; background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); border-radius:25px; overflow:auto;
box-shadow: 20px 20px 20px #888888;}
.ib a { float:left; text-transform:uppercase; text-decoration:none; width:20%; padding:5px 0px 5px; 
 text-align:center; transition: all 0.3s ease;
  color: white; font-size: 20px;}

  .ib a:hover {background:linear-gradient(to right, #f64f59, #c471ed, #12c2e9); color:black; border-radius:80px;
   }

.sl {width:100%; background: linear-gradient(to right, #34e89e, #0f3443); border-radius:40px; overflow:auto;  
 box-shadow: 20px 20px 20px #888888;color:#0f3443; height:40%;text-align:center;}

.sl a { float:left; text-transform:uppercase; text-decoration:none; width:20%; padding:5px 0px 5px; 
   transition: all 0.3s ease; text-align:center;
  color: white; font-size: 20px;
}
.wrap{ width:1000px; display:inline;}
.card{ box-shadow: 10px 6px 10px 0 rgba(0,0,0,0.6); transition:0.4s; width:140px; height:130px; background:rgba(255,255,255,0.6);
    text-align:center;float:left; margin:10px; border-radius:30px; color:black; font-size:12px;}

.card:hover{box-shadow:0 20px 28px 0 rgba(0,0,0,0.7); color:white; background:linear-gradient(to right, #34e89e, #0f3443); 
opacity:0.7;}

  

